.input {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
}

.btn-primary {
  background: #4f46e5;
  color: white;
  padding: 12px;
  border-radius: 14px;
  font-weight: bold;
}

.card {
  background: #f9fafb;
  padding: 12px;
  border-radius: 16px;
  margin-bottom: 10px;
}
